# pandas 读取数据
pandas 读数据总共有： loc、 iloc两种方式，其中通过直接二阶索引也能取到数据，但是效率较低，我们一般使用前面两种方式读取。

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {"AAA": [4, 5, 6, 7], "BBB": [10, 20, 30, 40], "CCC": [100, 50, -30, -50]}
    )
print(df.head())

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

## loc示例

单列赋值：

In [3]:
df.loc[df['AAA']==4, 'BBB'] = 1
df

   AAA  BBB  CCC
0    4    1  100
1    5   20   50
2    6   30  -30
3    7   40  -50

多列赋值：

In [8]:
df.loc[df.AAA==4, ['BBB', 'CCC']] = 20
df

   AAA  BBB  CCC
0    4   20   20
1    5   20   50
2    6   30  -30
3    7   40  -50

根据已有数据添加新列：

In [4]:
df['DDD'] = np.where(df.BBB>=20, True, False)
df

   AAA  BBB  CCC    DDD
0    4    1  100  False
1    5   20   50   True
2    6   30  -30   True
3    7   40  -50   True

查找符合条件的数据：

In [12]:
df[df.BBB>10]

   AAA  BBB  CCC   DDD
1    5   20   50  True
2    6   30  -30  True
3    7   40  -50  True

In [5]:
df.loc[df.BBB>10, 'DDD']

1    True
2    True
3    True
Name: DDD, dtype: bool

argsort 使用：

In [7]:
df.loc[(df.BBB-20).abs().argsort()]

   AAA  BBB  CCC    DDD
1    5   20   50   True
2    6   30  -30   True
0    4    1  100  False
3    7   40  -50   True

## iloc示例
iloc根据索引查找相应的行或者列

In [9]:
df.iloc[1]

AAA       5
BBB      20
CCC      50
DDD    True
Name: 1, dtype: object

In [10]:
df.iloc[:, 1]

0     1
1    20
2    30
3    40
Name: BBB, dtype: int64